color=true
loglevel=warn
sign-git-tag=true
init-author-name=Thorsten Hans
init-author-email=thorsten.hans@gmail.com
init-author-url=https://www.thorsten-hans.com/
init-version=0.0.1
progress=false
registry=https://registry.npmjs.org/
